body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #555;
}

h2 {
    margin-top: 15px;
    color: #555;
}

.cupping-section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
     background-color: #fff;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.options {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
    flex-wrap: wrap; /* Wrap options to the next line */
}
label {
    display: inline-block;
}

input[type="text"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* Make it a block element to center horizontally */
    margin: 20px auto;  /* Center the button horizontally */
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4cae4c;
}

#result-area {
    margin-top: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
}
#result-display{
  white-space: pre-line;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
}
